.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #4F3D3F;
    width: 100%;
}


.kategorieButton{
    background: transparent !important;
    color: white !important;
    border: 1px solid grey !important;
    margin-right: 15px !important;
    border-radius: 0 !important;
}

.kategorieButton:focus{
    outline: none !important;
}

.iconAddProduct{
    color: white;
}

.spanAddProduct{
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    border: .5px solid grey;
    padding: 6.5px;
    border-radius: 3px;
}

.iconDesc{
    margin: 0;
    margin-right: 5px;
    color: white;
    padding: 0;
}